@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100..900&family=Koulen&family=Moul&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
#main-body{
    background-color:oklch(65.5% 0.115 274.713);
}   
.container{
    background-color:rgb(22, 100, 177);
}
#mainContainer{
    background-color: white;
}
/* header website */
header{
    background-color:rgb(22, 100, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem 0;
}
.Beltei-Logo img{
    width: 7rem;
}
.Beltei-Name{
    padding-left: 3.5rem;
    line-height: 1.6rem;
}
.Beltei-Name h1:nth-child(1){
    font-family: 'Moul';
    font-size: 2.29rem;
    color:#ffc107;
    line-height: 1.6rem;
}
.Beltei-Name h1:nth-child(2){
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    color:#ffc107;;
}
#Slogan-section{
    font-family: 'Koulen';
    font-size: 1.5rem   ;
    text-align:center;
    color: #ffc107;
}
/* end header website */

/* Start Section */
section{
    padding: 1rem .5rem;
    display: flex;
    gap:1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.148);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) ;
}
.universityCampus{
    width: 25%;
}
section a{
    text-decoration: none;
    font-family: 'Koulen';
}
section a img{
    width: 19rem;
}
section a h2{
    word-spacing: .1rem;
    font-size: 1.2rem;
    text-align: center;
    padding-top:1rem;
    color:rgb(65, 86, 163);
}
/* end section */

/* start Information fadeLeft to Right */
.Information-fadeLeft{
    padding:1.5rem 0rem;
}
.Information-fadeLeft .scrolling strong{
    font-family: 'moul' ;
    color: green;
}
.Information-fadeLeft .scrolling {
    font-family: 'Koulen' ;
    color: green;
    font-weight: 100;
}
/* End Information fadeLeft to Right */
 


/* left menuBar in main */
main{
    display: flex;
}
.MenuLeft{
    width:10%;
}
.aboutUniversity{
    width: 100%;
    background-color:#006cb8;
    padding:.6rem;
    text-align: center;
}
.aboutUniversity a{
    color: #ffc107; 
    text-decoration: none;
    font-size: 1rem;
    font-family: 'moul'
}
.Sub-aboutUniversity{
    background-color: #21ade3;
    width: 100%;
    padding: .6rem 1rem;
    border-bottom: 1px solid rgba(96, 94, 94, 0.333);
    cursor: pointer;
}
.Sub-aboutUniversity a{
    color: #ffc107; 
    text-decoration: none;
    font-size: .9rem;
    font-family: 'Hanuman';
    color: white;
    transition: .3s;
}
.Sub-aboutUniversity:hover a{
    display: inline-block;
    transform: translateX(10px) translateY(-3px);
    transition: transform 0.4s;
}
.Sub-aboutUniversity:hover{
    background-color:#6fc2e3;
}


/* University-Facuty-Styles */
.University-Facuty{
    background-color: #21ade3;
    cursor: pointer;
}
.University-Facuty .Each-Facuty:nth-child(1) a,.Each-Facuty:nth-child(2) a,.Each-Facuty:nth-child(3) a,.Each-Facuty:nth-child(4) a,.Each-Facuty:nth-child(5) a,
.Each-Facuty:nth-child(6) a,.Each-Facuty:nth-child(7) a,.Each-Facuty:nth-child(9) a,.Each-Facuty:nth-child(10) a,
.Each-Facuty:nth-child(10) a,.Each-Facuty:nth-child(11) a,.Each-Facuty:nth-child(12) a,.Each-Facuty:nth-child(13) a{
    font-size: 1rem;
    text-decoration: none;
    color:white;
    font-family: 'moul' ;
    text-shadow: 2px 2px 2px #21ade3;
}
.Each-Facuty:nth-child(8) a{
    font-size: .8rem;
    text-decoration: none;
    color:white;    
    font-family: 'moul' ;
    text-shadow: 2px 2px 2px #21ade3
}
.University-Facuty div:hover a{
    transform: translateX(10px) translateY(-3px);
    transition: transform 0.4s;
}

.University-Facuty .Each-Facuty:nth-child(1){
    background-color: #E23439;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
    padding-left: 1rem;
}
.University-Facuty .Each-Facuty:nth-child(2){
    background-color: #8E2F39;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
}
.University-Facuty .Each-Facuty:nth-child(3){
    background-color: #006F87;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.University-Facuty .Each-Facuty:nth-child(4){
    background-color: #4156A3;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
}
.University-Facuty .Each-Facuty:nth-child(5){
    background-color: #0d6efd;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
}
.University-Facuty .Each-Facuty:nth-child(6){
    background-color: #20c997;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
}
.University-Facuty .Each-Facuty:nth-child(7){
    background-color: #C1AA3F;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
}
.University-Facuty .Each-Facuty:nth-child(8){
    background-color: #8F61A7;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
}
.University-Facuty .Each-Facuty:nth-child(9){
    background-color: #EE8A36 ;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
}
.University-Facuty .Each-Facuty:nth-child(10){
    background-color: #F3868C;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
}
.University-Facuty .Each-Facuty:nth-child(11){
    background-color: #55545E ;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
}
.University-Facuty .Each-Facuty:nth-child(12){
    background-color: #42B7DA ;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
}
.University-Facuty .Each-Facuty:nth-child(13){
    background-color: #FDB515 ;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
}


 /* Recognition Style  */
 .Recognitions-container{
    background-color: #21ade3;
 }
.MenuLeft-group .Recognitions-container .R-1{
    width: 100%;
    background-color: #21ade3;
    text-decoration: none;
    height: 5rem;
    display: grid;
    place-content: center;
    font-family: 'Hanuman';
    border-radius: 16px;
    border-color: #E23439 !important;
    border:inset 3px;
}
.MenuLeft-group .Recognitions-container .R-1 a img{
    width: 5rem;
}
.MenuLeft-group .Recognitions-container .R-1  a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
.MenuLeft-group .Recognitions-container .R-2  a img{
    width: 5rem;
}
.MenuLeft-group .Recognitions-container .R-2{
    width: 100%;
    background-color: #21ade3;
    text-decoration: none;
    height: 5rem;
    display: grid;
    place-content: center;
    font-family: 'Hanuman';
    border-radius: 16px;
    border-color: #E23439 !important;
    border:inset 3px;
}
.MenuLeft-group .Recognitions-container .R-2  a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    display: flex;
}


   /* Graduate Style */
   .Graduate-container{
    width: 100%;
    background-color: #21ade3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:1rem 0rem;
    gap: .3rem;
   }
   #Graduate-container{
    width: 90%;
    border: outset 3px;
    border-color: #dc3545 !important;
    border-radius: .30rem;
   }
   #Graduate-container a{
    display:flex;
    text-decoration: none;
   }
   #Gratuate-img img{
    width: 110%;
    height: 5rem;
    padding: 0rem  1rem;
    border-right: 2px solid #dc3545;
    object-fit: contain;
    }
   #Gratuate-title {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Koulen';
    color:white;
    font-size: 1rem;
    padding: 0 .5rem;
   }


   /* Add More on Speaking competaions Style */
   #Each-Facuty, #Englsih-Speaking{
    border-color: #EE8A36 !important;
    border: inset 3px;
    display:grid;
    place-content: center;
    background-color: #E23439;
    border-radius: 16px;
    border: #ffc107 2px solid;
    height: 3.5rem;
    display: flex;
    padding-left: 1rem;
    align-items:center;
    padding-left: 1rem;
   }
   #Englsih-Speaking{
    background-color: #4156A3;
   }
    #Each-Facuty a,#Englsih-Speaking a{
    font-family: 'Hanuman';
    text-shadow: none;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color:white;
    }
   /* Speaking Styles */
   #University-Facuty{
    background-color: #21ade3;
    cursor: pointer;
    }
   
  .Speaking-conatiner{
    width: 100%;
    display: grid;
    place-content: center;
    margin-top:.5rem;
    transition: .7s;
  }
    .Speaking-conatiner:hover{
     transform:scale(.97);
    }
   .Speaking-conatiner a{
    text-decoration: none;
   }
   #Speaking-conatiner{
    width: 95%;
    height: 11rem;
    position: relative;
   }
   #Speaking-conatiner #img-1{
    width: 16rem;
    height: 9rem;
    border-radius: 3px;
   }
   #Speaking-conatiner #img-2{
    width: 3rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   #Speaking-conatiner h3{
    font-family: 'Hanuman';
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #4156A3 ;
    margin-bottom: .1rem;
   }

   .MouMeeting-Container #MouMeeting-Container{
    width: 100%;
    border: 1px solid #55545e5a;
    padding:1rem 0;
    border-radius: .3rem .3rem 0 0;
   }
   .MouMeeting-Container #MouMeeting-Container img{
    width: 95%;
    border-radius: .3rem;
    transition: .4s;
   }
    .MouMeeting-Container #MouMeeting-Container h4{
        font-family:'Times New Roman', Times, serif ,"moul";
        color: #343a40;;
        font-size: .88rem;
        margin-top: 1rem;
        line-height: 1.5rem;
         transition: color .4s;
    }
    .MouMeeting-Container #MouMeeting-Container:hover img{
        transform: scale(.98);
    }
    .MouMeeting-Container #MouMeeting-Container:hover h4{
        color: #006cb8;
    }
    
    
    .Contents{
        width: 100%;
        border: 1px solid #55545e5a;
    }
    .Contents #Contents{
        display: flex;
        padding: .5rem 1rem;
    }
    .Contents #Contents img{
        width:30%;
        object-fit: contain;
        border-radius: .2rem;
        transition: .4s;
    }
    .Contents #Contents div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 1.5rem ;
    }
    .Contents a #Contents div p{
        font-size: 1rem;
        font-family: 'Hanuman';
        line-height: 1.4rem;
        color: #343a40;
    }
    .Contents a #Contents div h6{
        font-size: 1rem;
        color: red;
        font-family: 'Hanuman';
    }
    .Contents a #Contents:hover img{
        transform:scale(.97);
    }
    .Contents a  #Contents:hover p{
        color: #0d6efd ;
    }

    
/*End Left menuBar in main */

/*start middle menuBar in main */
.SliceShow{
    width: 70%;
    text-align: center;
    padding: 1rem;
    box-shadow:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) ;
    margin:0 1rem ;
}
.SliceShow a{
    text-decoration: none;
}
.BICCLogo-Group{
    margin: 1rem;
}
.BICCLogo-Group img:nth-child(1){
    width: 13rem;
}
.BICCLogo-Group img:nth-child(2){
    vertical-align: top;
    margin-left: 1.2rem;
    width: 14rem;
}
.Vacation-information img{
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) ;
    margin-top: .7rem;
}

.Celebrating-container{
    margin: 1rem 0;
    border-top:1px solid #55545e66;
    border-bottom:1px solid #55545e66;
    display:flex;
    justify-content: center;
    align-items: center;
}
#Celebrating-container{
    width: 100%;
    background-color: #198754;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin: .5rem 0 ;
    font-size: 1rem;
    font-family: 'moul';
    color: white;
    border-radius: .2rem;
}
/*End middle menuBar in main */

/*start  Right menuBar-part-1  in Main-right-menubar */
#Main-right-menubar{
    width: 20%;
}
.right-menu{
    width: 100%;
    background-color: #21ade3;
    border-radius: 6px;
}
.right-menu .Languages{
    width: 100%;
    background-color:#006cb8;
    padding:.6rem;
    font-weight: 'moul';
    text-align: center;
}
.Languages a{
    text-decoration: none;
    font-family: 'moul';
    color: #ffc107;
    font-size: 1rem;
}
.Change-languages-Flags{
    padding:.3rem;
    display: flex;
    gap:5px;
    text-align: center;
    font-family: 'hanuman';
    cursor: pointer;
    font-size: 1.1rem;
}
.Change-languages-Flags img{
    width: 5rem;
    margin-bottom: .3rem;
    transition: .6s;
}
.Change-languages-Flags div:nth-child(2) img{
    height: 3.3rem;
}
.Change-languages-Flags img:hover {
    transform: scale(0.9);
}
.Change-languages-Flags div img:hover + .CountryName {
    color: #4156A3;
}
/*End Right menuBar-part-1  in Main-right-menubar */


/* Start Sign go to left style */
#Goto-page img{
    width: 16rem;
}
/*End Sign go to left style */


/* Start Complecated-Box style */
.Complicated-box{
    width: 16rem;
    height: 4rem;
    background-color: #006cb8;
    padding:1rem;
    border-radius: 32px;
    display: grid;
    place-items:center;
    border-color:gold !important;
    border: outset 3px ;
}
.Complicated-box h2{
    font-family: 'moul';
    color:rgb(224, 224, 7);
    font-size: 1.2rem;
}

/* end Complecated-Box style */

/*start Right menuBar-part-2  in Main-right-menubar */
.Sub-right-menu{
    background-color:#21ade3;
    padding:1rem;
    width: 100%;
    border-radius: 7px ;
}
.Sponsor-Sections{
    align-items: center;
    border: inset 5px;
    border-radius: 20px;
    border-color: #4156A3 !important ;
}
.Sponsor-Sections div:nth-child(1){
    text-align: center ;
    background-color: #198754;
    padding: 1rem;
    border-radius: 15px 15px 0px 0px ;
}
.Sponsor-Sections div:nth-child(1) img{
    width: 9rem;
    height: 4rem;
}
.Sponsor-Sections div:nth-child(1) h2{
    font-family: 'moul';
    color: white;
    font-size: 1rem;
    margin-top: .3rem;
}
#Sponsor-Sections:hover{
    transform:scale(1);
    background-color: #198754;
}
#Sponsor-Sections:hover img{
    transform:scale(1);
    background-color: #198754;
}
.Sponsor-Sections div{
    text-align:center;
    border-bottom: 1px solid gray;
    padding: .3rem 1rem;
}

.Sponsor-Sections div:last-of-type {
    border-bottom: none;
}
.Sponsor-Sections div img{
    width: 100%;
    height: 6rem;
    object-fit: contain;
    transition: .4s;
}
.Sponsor-Sections div:hover{
    background-color: #00c8ffa2;
}
.Sponsor-Sections div img:hover{
    transform:scale(0.9);
}
/*End  Right menuBar-part-1  in Main-right-menubar */

/* Anchor go to the Top */
#Anchor-btn{
    outline: none;
    border: none;
    position: fixed;
    bottom: 2rem;
    right:1.5rem;
    padding: .9rem 1rem ;
    border-radius: 50%;
    background-color: #0dcaf0;
    color: white;
    font-size: 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition: .3s;
}
#Anchor-btn:hover{
    transform: scale(.90);
}

@media (max-width: 600px) {
    #main-body {
        background-color: #006F87;
    }

    /* header Phone-Screen */
    .container header .Beltei-Logo img{
        width: 4rem;
    }
    .container header .Beltei-Name{
        padding:0 .9rem;
        line-height:1rem;
    }
    .container header .Beltei-Name h1:nth-child(1){
        font-size: 1rem;
        line-height:.6rem;
    }
    .container header .Beltei-Name h1:nth-child(2){
        font-size: .87rem;
        line-height:.6rem;
    }
    .container header .Beltei-Name #Slogan-section{
        font-size: .7rem;
    }
    /*End header Phone-Screen */

    /* Four Beltei Campus  */
    #mainContainer section{
        gap: .3rem;
        padding:.5rem .3rem;
    }
    #mainContainer section .universityCampus{
        width: 25%;
    }
    #mainContainer section .universityCampus a img{
        width: 100%;
    }
    #mainContainer section .universityCampus a h2{
        font-size: .4rem;
        word-spacing: 0;
        padding-top: .5rem;
    }
    /*End Four Beltei Campus  */
    
    /* Information-fadeLeft */
    #mainContainer .Information-fadeLeft{
        padding:.4rem 0;
    }
    #mainContainer .Information-fadeLeft .scrolling {
        font-size: .5rem
    }
    /* End Information-fadeLeft */





    #mainContainer{
        display: ;
    }
    #mainContainer main{
        display: none;
    }
}